*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #202020;
    position: relative;
}
img{
    max-width: 100%;
}
.header{
    padding: 22px 0;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}
.header-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.image-block{

    position: relative;
    margin-right: 122px;
}
.sale-label{
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    right: 0px;
    top: 23px;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    background-color: #c93535;
    padding: 12px 17px;
}
.logo{
    color: #202020;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-link{
    color: #202020;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 11px;
    margin-right: 11px;
}
.login{
    text-decoration: none;
    color: #202020;
    font-size: 14px;
    font-weight: 400;
}
.section-title{
    margin-top: 0;
    margin-bottom: 35px;
}
/* Главная секция */
.hero{
    padding-top: 62px;
    padding-bottom: 71px;
    margin-top: 60px;
}
.hero-container{
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: auto;
}
.author{
    display: block;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 22px;
}
.title{
    margin-top: 0;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 15px;
}
.subtitle{
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 48px;
}
.info{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 49px;
}
.info-text{
    flex-basis: 45%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.price{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.pricetag{
    font-size: 55px;
    font-weight: 400;
    margin-right: 64px;
}
.like{
    width: 26px;
    height: 23px;
    margin-left: 73px;
    margin-right: 7px;
}
.favorites{
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color:inherit;
}
.button{
    font-size: 16px;
    font-weight: 700;
    padding: 22px 50px;
    border-radius: 5px;
    border: 2px solid transparent;
}
.button-primary{
    background-color: #f89c02;
    color:#ffffff;
    margin-right: 20px;
}
.button-outline{
    border: 2px solid #f89c02;
    color:#f89c02;
    text-decoration: none;
}
/* О книге */
.about{
    background-color: #f1f1f1;
    padding: 99px 0;
}
.about-container{
    display: flex;
    align-items:flex-start;
    margin: auto;
    justify-content: space-between;
    width: 1140px;
}
.about-book{
    width: 454px;
    flex-shrink: 0;
}
.section-title{
    font-size: 32px;
    font-weight: 700;   
}
.about-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.about-author{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    background-color:#ffffff;
    width: 552px;
    box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    padding: 68px 53px;
   
}
.author-avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius:50%;
    margin-right: 21px;
    /* margin-bottom: 27px; */
}
.author-name{
    margin: 0px ;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 700;
}
.author-link{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color:inherit;
}
.author-text{
    flex-basis: 100%;
    margin-top: 27px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/* Читатели */
.readers{
    padding: 99px 0; 
}
.readers-container{
    max-width: 1140px;
    margin: auto;
}
.readers-title{
    font-size: 32px;
    font-weight: 700;
}
.readers-block{
    margin-top: 57px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reader{
    width: 165px;
    height: 165px;
    margin-bottom: 30px;
    object-fit: cover;
}

/* Подвал */

.footer{
    background-color: #f1f1f1;
    padding: 60px 0 93px 0;
}
.footer-container{
    
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-title{
    padding: 0;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 700;
}
.footer-list{
    padding: 0px;
}
.requisites{
    font-size: 18px;
    font-weight: 700;
    /* margin-left: 167px; */
}
.information {
    font-size: 18px;
    font-weight: 700;
    /* margin-left: 158px;
    margin-right: 158px; */
}
.contacts {
    font-size: 18px;
    font-weight: 700;
}
.list-item{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style-type: none;
    margin-bottom: 16px;
} 
.footer-link {
    color:inherit;
    text-decoration: none;
}
.to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
    border-radius: 4px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 19px;
}
@media (max-width: 1200px) {
    .header-container,
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container {
        max-width: 960px;
    }
    .image-block{
        min-width: 390px;
        max-width: 390px;
        margin-right: 30px;
    }
    .pricetag{
        margin-right: 32px;
    }
    .about-book{
        max-width: 367px;
    }
    .readers{
        padding-bottom: 94px;
    }
    .reader{
        width: 139px;
        height: 138px;
    }
}
@media (max-width: 992px) {
    .header-container,
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container {
        max-width: 761px;
    }
    .image-block{
        max-width: 298px;
        min-width: 298px;
        height: 418px;
    }
    .nav{
        display: none;
    }
    .author{
        font-size: 22px;
        margin-bottom: 13px;
    }
    .title{
        font-size: 46px;
        margin-bottom: 10px;
    }
    .subtitle{
        font-size: 24px;
        margin-bottom: 28px;
    }
    .age, .format {
        flex-grow: 1;
    }
    .info{
        font-size: 16px;
        margin-bottom: 39px;
    }
    .pricetag{
        font-size: 55px;
        margin-right: -18px;
    }
    .button{
        padding: 20px 40px;
    }
    .section-title{
        font-size: 24px;
        margin-bottom: 29px;
    }
    .about-book{
        width: 100%;
        margin-bottom: 62px;
    }
    .about-container{
        flex-wrap: wrap;
    }
    .reader{
        width: 165px;
        height: 165px;
    }
    .elements-1, .elements-2, .elements-3, .elements-4 {
        display: none;
    }
   
    .readers-title{
        padding: 0;
    }
}
@media (max-width: 768px) {
    .header-container,
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container {
        max-width: 560px;
    }
    .hero-container{
        flex-wrap: wrap;
    }
    .image-block{
        min-width: 100%;
        display: block;
        margin-bottom: 410px;
    }
    .hero-image{
        width: 100%;
    }
    .elements-5, .elements-6{
        display: none;
    }
}
@media (max-width: 576px) {
    .header-container,
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container {
        width: 95%;
    }
    .author{
        font-size: 18px;
        /* margin-top: -80px; */

    }
    .title{
        font-size: 36px;
        margin-bottom: 19px;
    }
    .subtitle{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .info{
        flex-wrap: wrap;
        margin-bottom: 17px;
    }
    .info-text{
        flex-basis: 100%;
        margin-bottom: 19px;
    }
    .button{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .button-primary{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .about-book{
        margin-bottom: 70px;
    }
    .about-author{
        padding: 54px 44px;
    }
    .author-text{
       font-size: 14px; 
    }
    .author-avatar{
        width: 64px;
        height: 64px;
    }
    .reader{
        width: 144px;
        height: 144px;
    }
    .requisites, .information, .contacts{
        flex-basis: 100%;
        margin-bottom: 36px;
        margin-right: 0;
    }
    .footer-title{
        font-size: 18px;
        margin-bottom: 32px;
    }
    .footer-link{
        font-size: 16px;
    }
    .favorutes-text{
        display: none;
    }
}   
@media (max-width: 320px) {
    .header-container,
    .hero-container,
    .about-container,
    .readers-container,
    .footer-container {
        width: 95%;
    }
    .hero-image{
        width: 263px;
        height: 370px;
        margin-bottom: 243px;
     }
     .image-block{
        min-width: 100%;
        display: block;
        margin-bottom: 410px;
    }
     .author{
        font-size: 16px;
        /* margin-top: 100px; */
    }
    .reader .elements-8{
        display: none;
    }
    .elements-7, .elements-8 {
        display: none;
    }
}  